/* Global Typography */
html body,
.page__content,
.page__content p,
.page__content li,
.page__content h1,
.page__content h2,
.page__content h3,
.page__content h4,
.page__content h5,
.page__content h6,
.page__content a {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 10px !important;
  text-align: justify !important;
  line-height: 1.5 !important;
}

/* Green for name and menu */
.author__name,
.page__title,
.nav__items a,
.nav__items a:visited {
  color: green !important;
}
