body {
  font-family: "Times New Roman", serif;
  font-size: 10px;
  text-align: justify;
  background-color: #fffaf0;
}

.site-title,
nav a {
  color: green !important;
}
/* Style all links in content area */
.page__content a {
  color: orange !important;   /* Set link color to orange */
  text-decoration: none !important; /* Remove underline */
}

/* Keep orange color when hovering, maybe make it slightly darker */
.page__content a:hover {
  color: darkorange !important;
  text-decoration: none !important;
}
